.account_css{
.tableheader{
    padding-left: 2rem ;
    padding-top: 1.2rem;
    font-weight: 600 !important;
    font-size: 30px !important;
    margin-bottom: 2% !important;
}
.add{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2%;
}
.addheader{
    font-weight: 600 !important;
    margin-top: 2% !important;
}
.cardstyle{
    margin-bottom: 1%;
    width: 100%;
    margin-top: 1rem;
    background-color: lavender !important;
}
.textfield{
    width:40%;
}
.gridstyle{
    margin-left: 2rem;
    margin-right: 2rem;
}
.error{
    color: red;
    text-align: start;
    margin-right: 20rem;
}
}